<div class="row">
    <div class="col-sm-3">
        <br/>
        <app-side-menu selection="providers"></app-side-menu>
    </div>
    <div class="col-sm-9">
       <br/>
        <div class="container">
            <h1>Providers</h1>
            <div class="row">
                <div class="col-3 tableHeight">

                   
                    <table class="table table-striped">
                        <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Provider</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let provider of providers; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            
                            <a [routerLink]="" (click)="showInMap(provider.name);">{{ provider.name }}</a>
                            <br/>
                            {{ provider.address }}
                            <br/>
                            {{ provider.postcode }}
                            <br/>
                            <ngb-rating [(rate)]="provider.currentRate"></ngb-rating>
                            <br/>

                        </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-md-9">
                    <p *ngIf="loading">Loading...</p>
                    <agm-map 
                        [zoom] = "12"
                        [mapTypeId]="'roadmap'"
                        [disableDefaultUI]="false"
                        [latitude] = "currentLatitude" 
                        [longitude] = "currentLongitude">
                        <agm-marker *ngFor="let provider of providers; let i = index" 
                            [latitude]="provider.latitude" 
                            [longitude]="provider.longitude" 
                            [iconUrl]="provider.iconUrl"
                            [label]="provider.name">
                            <agm-info-window>
                                <h4>{{provider.name}}</h4>
                                <p>{{provider.address}}
                                <br/>{{provider.postcode}}</p>
                                <a routerLink="{{ provider.website }}">More details</a>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
  </div>
